h1{
    text-align: center;
    color: rgb(147, 173, 165);
}
body{
    background-color: rgb(54, 75, 69);
    
    font-size: 35px;
    color:rgb(27, 40, 34) ;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;

}